h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}
h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}
h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}
h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}

div,
span {
  box-sizing: border-box;
}

button {
  font-size: calc(10px + 2vmin);
}

svg {
  vertical-align: middle;
}

.swiper .swiper-slide {
  width: auto;
  height: 225px;
}

.swiper-slide:hover div,
.swiper-slide:hover div img {
  width: 180px;
  height: 270px;
}

.swiper-slide:hover ~ div > div {
  transform: translateX(20%);
}

.swiper .swiper-wrapper {
  margin-bottom: 10px;
}

.badge {
  font-size: 14px;
}
